doctype html
html
  head
    title The Smithing Lizard
    link(rel='stylesheet', href='/stylesheets/template.css')
    link(rel="stylesheet", href="/stylesheets/inventory.css")
  body
    header
      .head1
        form(method="post") 
          button(type="submit", name="action", value="/")
            img(src="/icons/icons8-left-50.png", alt="Back Arrow")
      .head2
        h2 Sort By:
        select#choices(name="choices")
          option(value="oneHanded") One-Handed
          option(value="twoHanded") Two-Handed
      .head3
        input.shoppingCart(type="image", src="/icons/icons8-shopping-cart-48.png", alt="Shopping Cart")
    main 