doctype html
html
   head
      title The Smithing Lizard
      link(rel="stylesheet", href="/stylesheets/template.css")
      link(rel='stylesheet', href='/stylesheets/index.css')
   body
      header
         h1.title The Smithing Lizard
      main
         form(method="POST")
            .button
               h2 Damage Type
               button.category(type="submit", name="action", value="/damage")
            .button
               h2 Weapon Type
               button.category(type="submit", name="action", value="/weapon")
            .button
               h2 Handedness
               button.category(type="submit", name="action", value="/handedness")